<!DOCTYPE html>
<html lang='en' dir='ltr'>

<head>
  <meta charset='utf-8'>
  <title><%=pageTitle%></title>

  <!-- Import Favicon & Icon Images -->
  <link rel='apple-touch-icon' sizes='180x180' href='img/favicons/apple-touch-icon.png'>
  <link rel='icon' type='image/png' sizes='32x32' href='img/favicons/favicon-32x32.png'>
  <link rel='icon' type='image/png' sizes='16x16' href='img/favicons/favicon-16x16.png'>
  <link rel='manifest' href='/site.webmanifest'>
  <link rel='icon' href='/img/favicons/favicon.ico'>

  <!-- Import Bootstrap Styles -->
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous'>

  <!-- Import Google Fonts -->
  <link href='https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato:wght@200;400;700&display=swap' rel='stylesheet'>

  <!-- Import Font Awesome Icons -->
  <script src='https://kit.fontawesome.com/d631e45904.js' crossorigin='anonymous'></script>

  <!-- Import Local Styles -->
  <link rel='stylesheet' href='/css/styles.css'>
</head>

<body id='app-route'>